@charset "UTF-8";
/*===================================================*\ 
 * 字体大小
\*===================================================*/
.f10 {
  font-size: 10px !important;
}

.f11 {
  font-size: 11px !important;
}

.f12 {
  font-size: 12px !important;
}

.f13 {
  font-size: 13px !important;
}

.f14 {
  font-size: 14px !important;
}

.f15 {
  font-size: 15px !important;
}

.f16 {
  font-size: 16px !important;
}

.f17 {
  font-size: 17px !important;
}

.f18 {
  font-size: 18px !important;
}

.f19 {
  font-size: 19px !important;
}

.f20 {
  font-size: 20px !important;
}

.f21 {
  font-size: 21px !important;
}

.f22 {
  font-size: 22px !important;
}

.f23 {
  font-size: 23px !important;
}

.f24 {
  font-size: 24px !important;
}

.f25 {
  font-size: 25px !important;
}

.f26 {
  font-size: 26px !important;
}

.f27 {
  font-size: 27px !important;
}

.f28 {
  font-size: 28px !important;
}

.f29 {
  font-size: 29px !important;
}

.f30 {
  font-size: 30px !important;
}

.f31 {
  font-size: 31px !important;
}

.f32 {
  font-size: 32px !important;
}

.f33 {
  font-size: 33px !important;
}

.f34 {
  font-size: 34px !important;
}

.f35 {
  font-size: 35px !important;
}

.f36 {
  font-size: 36px !important;
}

.f37 {
  font-size: 37px !important;
}

.f38 {
  font-size: 38px !important;
}

.f39 {
  font-size: 39px !important;
}

.f40 {
  font-size: 40px !important;
}

/*===================================================*\ 
 * 宽度值
\*===================================================*/
.w {
  width: 100% !important;
}

.w10 {
  width: 10px !important;
}

.w20 {
  width: 20px !important;
}

.w30 {
  width: 30px !important;
}

.w40 {
  width: 40px !important;
}

.w50 {
  width: 50px !important;
}

.w60 {
  width: 60px !important;
}

.w70 {
  width: 70px !important;
}

.w80 {
  width: 80px !important;
}

.w90 {
  width: 90px !important;
}

.w100 {
  width: 100px !important;
}

.w200 {
  width: 200px !important;
}

.w300 {
  width: 300px !important;
}

.w400 {
  width: 400px !important;
}

.w500 {
  width: 500px !important;
}

.w600 {
  width: 600px !important;
}

.w700 {
  width: 700px !important;
}

.w800 {
  width: 800px !important;
}

/*===================================================*\ 
 * margin 和 padding什
\*===================================================*/
.m0 {
  margin: 0px !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.m25 {
  margin: 25px !important;
}

.m30 {
  margin: 30px !important;
}

.m35 {
  margin: 35px !important;
}

.m40 {
  margin: 40px !important;
}

.m45 {
  margin: 45px !important;
}

.m50 {
  margin: 50px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.p0 {
  padding: 0px !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p25 {
  padding: 25px !important;
}

.p30 {
  padding: 30px !important;
}

.p35 {
  padding: 35px !important;
}

.p40 {
  padding: 40px !important;
}

.p45 {
  padding: 45px !important;
}

.p50 {
  padding: 50px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pr50 {
  padding-right: 50px !important;
}

/*===================================================*\ 
 * 基础色值
\*===================================================*/
.king-default {
  background-color: #f4f4f4;
}

.king-bg-default {
  background-color: #f4f4f4;
}

a.king-default:hover {
  background-color: #dbdbdb;
}

.bg-default {
  background-color: #f4f4f4;
}

.color-default {
  color: #f4f4f4;
}

.text-default {
  color: #f4f4f4;
}
.text-default:hover {
  color: #f4f4f4 !important;
}

.king-gray {
  background-color: #555;
}

.king-bg-gray {
  background-color: #555;
}

a.king-gray:hover {
  background-color: #3c3c3c;
}

.bg-gray {
  background-color: #555;
}

.color-gray {
  color: #555;
}

.text-gray {
  color: #555;
}
.text-gray:hover {
  color: #555 !important;
}

.king-info {
  background-color: #4A9BFF;
}

.king-bg-info {
  background-color: #4A9BFF;
}

a.king-info:hover {
  background-color: #177fff;
}

.bg-info {
  background-color: #4A9BFF;
}

.color-info {
  color: #4A9BFF;
}

.text-info {
  color: #4A9BFF;
}
.text-info:hover {
  color: #4A9BFF !important;
}

.king-primary {
  background-color: #5c90d2;
}

.king-bg-primary {
  background-color: #5c90d2;
}

a.king-primary:hover {
  background-color: #3675c5;
}

.bg-primary {
  background-color: #5c90d2;
}

.color-primary {
  color: #5c90d2;
}

.text-primary {
  color: #5c90d2;
}
.text-primary:hover {
  color: #5c90d2 !important;
}

.king-danger {
  background-color: #d26a5c;
}

.king-bg-danger {
  background-color: #d26a5c;
}

a.king-danger:hover {
  background-color: #c54736;
}

.bg-danger {
  background-color: #d26a5c;
}

.color-danger {
  color: #d26a5c;
}

.text-danger {
  color: #d26a5c;
}
.text-danger:hover {
  color: #d26a5c !important;
}

.king-warning {
  background-color: #f3b760;
}

.king-bg-warning {
  background-color: #f3b760;
}

a.king-warning:hover {
  background-color: #efa231;
}

.bg-warning {
  background-color: #f3b760;
}

.color-warning {
  color: #f3b760;
}

.text-warning {
  color: #f3b760;
}
.text-warning:hover {
  color: #f3b760 !important;
}

.king-success {
  background-color: #46c37b;
}

.king-bg-success {
  background-color: #46c37b;
}

a.king-success:hover {
  background-color: #34a263;
}

.bg-success {
  background-color: #46c37b;
}

.color-success {
  color: #46c37b;
}

.text-success {
  color: #46c37b;
}
.text-success:hover {
  color: #46c37b !important;
}

.king-muted {
  background-color: #999;
}

.king-bg-muted {
  background-color: #999;
}

a.king-muted:hover {
  background-color: gray;
}

.bg-muted {
  background-color: #999;
}

.color-muted {
  color: #999;
}

.text-muted {
  color: #999;
}
.text-muted:hover {
  color: #999 !important;
}

.king-dark {
  background-color: #333;
}

.king-bg-dark {
  background-color: #333;
}

a.king-dark:hover {
  background-color: #1a1a1a;
}

.bg-dark {
  background-color: #333;
}

.color-dark {
  color: #333;
}

.text-dark {
  color: #333;
}
.text-dark:hover {
  color: #333 !important;
}

/*===================================================*\ 
 * 辅助样式
\*===================================================*/
.color-info-alt {
  color: #669;
}

.color-reverse {
  color: #fff;
}

.color-gray-darker {
  color: #222;
}

.color-gray-dark {
  color: #333;
}

.color-gray-light {
  color: #777;
}

.color-gray-lighter {
  color: #eee;
}

.king-bg-gray {
  background-color: #f4f4f4 !important;
}

.king-bg-blue {
  background-color: #4A9BFF !important;
}

.king-bg-darkblue {
  background-color: #5c90d2 !important;
}

.king-bg-green {
  background-color: #46c37b !important;
}

.king-bg-yellow {
  background-color: #f3b760 !important;
}

.king-bg-red {
  background-color: #d26a5c !important;
}

.king-bg-aqua {
  background-color: #00c0ef !important;
}

.king-primary-op {
  background-color: rgba(92, 144, 210, 0.75);
}

a.king-primary-op:hover {
  background-color: rgba(54, 117, 197, 0.75);
}

.king-primary-dark {
  background-color: #3e4a59;
}

a.king-primary-dark:hover {
  background-color: #29313b;
}

.king-primary-dark-op {
  background-color: rgba(62, 74, 89, 0.83);
}

a.king-primary-dark-op:hover {
  background-color: rgba(41, 49, 59, 0.83);
}

.king-primary-darker {
  background-color: #2c343f;
}

a.king-primary-darker:hover {
  background-color: #171b21;
}

.king-primary-light {
  background-color: #98b9e3;
}

a.king-primary-light:hover {
  background-color: #709ed8;
}

.king-primary-lighter {
  background-color: #ccdcf1;
}

a.king-primary-lighter:hover {
  background-color: #a4c1e6;
}

.king-success-light {
  background-color: #e0f5e9;
}

a.king-success-light:hover {
  background-color: #b9e9ce;
}

.king-warning-light {
  background-color: #fdf3e5;
}

a.king-warning-light:hover {
  background-color: #f9ddb6;
}

.king-info-light {
  background-color: #edf6fd;
}

a.king-info-light:hover {
  background-color: #bfdff8;
}

.king-danger-light {
  background-color: #f9eae8;
}

a.king-danger-light:hover {
  background-color: #eec5c0;
}

.king-white {
  background-color: #fff;
}

a.king-white:hover {
  background-color: #e6e6e6;
}

.king-white-op {
  background-color: rgba(255, 255, 255, 0.075);
}

.king-black {
  background-color: #000;
}

a.king-black:hover {
  background-color: #000;
}

.king-black-op {
  background-color: rgba(0, 0, 0, 0.4);
}

.king-gray-dark {
  background-color: #999;
}

a.king-gray-dark:hover {
  background-color: #808080;
}

.king-gray-darker {
  background-color: #393939;
}

a.king-gray-darker:hover {
  background-color: #202020;
}

.king-gray-light {
  background-color: #f3f3f3;
}

a.king-gray-light:hover {
  background-color: #dadada;
}

.king-gray-lighter {
  background-color: #f9f9f9;
}

a.king-gray-lighter:hover {
  background-color: #e0e0e0;
}

.fb {
  font-weight: bold !important;
}

.fn {
  font-weight: normal !important;
}

.lh150 {
  line-height: 150% !important;
}

.lh180 {
  line-height: 180% !important;
}

.lh200 {
  line-height: 200% !important;
}

.unl {
  text-decoration: underline !important;
}

.no_unl {
  text-decoration: none !important;
}

.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.bc {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.cb {
  clear: both !important;
}

.cl {
  clear: left !important;
}

.cr {
  clear: right !important;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
  zoom: 1;
}

.vm {
  vertical-align: middle !important;
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.abs-right {
  position: absolute !important;
}

.zoom {
  zoom: 1;
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}

.h50 {
  height: 50px !important;
}

.h80 {
  height: 80px !important;
}

.h100 {
  height: 100px !important;
}

.h200 {
  height: 200px !important;
}

.h {
  height: 100% !important;
}

.text-explode {
  color: #ccc !important;
}

.text-white {
  color: white !important;
}

.color-info-alt {
  color: #669;
}

.color-reverse {
  color: #fff;
}

.color-gray-darker {
  color: #222;
}

.color-gray-dark {
  color: #333;
}

.color-gray-light {
  color: #777;
}

.color-gray-lighter {
  color: #eee;
}

a.bg-white, a.bg-white:hover {
  background-color: #fff !important;
  color: #444 !important;
}

a.bg-primary, a.bg-primary:hover {
  background-color: #5C90D2 !important;
  color: #fff !important;
}

a.bg-success, a.bg-success:hover {
  background-color: #46C37B !important;
  color: #fff !important;
}

a.bg-info, a.bg-info:hover {
  background-color: #4A9BFF !important;
  color: #fff !important;
}

a.bg-warning, a.bg-warning:hover {
  background-color: #f0a63a !important;
  color: #fff !important;
}

a.bg-danger, a.bg-danger:hover {
  background-color: #c94d3c !important;
  color: #fff !important;
}

a.bg-orange, a.bg-orange:hover {
  background-color: #EF9549 !important;
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
  color: #444 !important;
}

.bg-bright1 {
  background-color: #fafafa !important;
  color: #767676 !important;
}

.bg-bright2 {
  background-color: #f5f5f5 !important;
  color: #767676 !important;
}

.bg-bright3 {
  background-color: #eee !important;
  color: #444 !important;
}

.bg-bright4 {
  background-color: #ddd !important;
  color: #444 !important;
}

.bg-bright5 {
  background-color: #999 !important;
  color: #444 !important;
}

.bg-primary {
  background-color: #5C90D2 !important;
  color: #fff !important;
}

.bg-primary-light {
  background-color: #40DEC8 !important;
  color: #fff !important;
}

.bg-success {
  background-color: #46C37B !important;
  color: #fff !important;
}

.bg-info {
  background-color: #4A9BFF !important;
  color: #fff !important;
}

.bg-warning {
  background-color: #f0a63a !important;
  color: #fff !important;
}

.bg-danger {
  background-color: #c94d3c !important;
  color: #fff !important;
}

.bg-orange {
  background-color: #EF9549 !important;
  color: #fff !important;
}

.bg-violet {
  background-color: #669 !important;
  color: #fff !important;
}

.bg-dark {
  background-color: #242633 !important;
  color: #fff !important;
}

.bg-reverse {
  background-color: #fff !important;
  color: #767676 !important;
}

img.img30_30 {
  width: 30px;
  height: 30px;
}

img.img64_64 {
  width: 64px;
  height: 64px;
}

img.img80_80 {
  width: 80px;
  height: 80px;
}

.text-small {
  font-size: 12px;
}

.text-normal {
  font-size: 14px;
}

.text-huge {
  font-size: 72px;
}

.text-large {
  font-size: 50px;
}

.size-h1 {
  font-size: 36px;
}

.size-h2 {
  font-size: 30px;
}

.size-h3 {
  font-size: 24px;
}

.size-h4 {
  font-size: 18px;
}

.text-thin {
  font-weight: 300;
}

.text-ultralight {
  font-weight: 100;
}

.divider {
  display: block;
  height: 10px;
}

.divider-sm {
  height: 15px;
}

.divider-md {
  height: 20px;
}

.divider-lg {
  height: 30px;
}

.divider-xl {
  height: 50px;
}

.space {
  display: inline;
  padding: 5px;
}

.space-md {
  padding: 15px;
}

.space-lg {
  padding: 25px;
}

.bordered {
  border: 1px solid #ddd;
}

/*===================================================*\ 
 * 原子样式                                    
\*===================================================*/
/*.king-clearfix:after{content:" ";font-size:0;clear:both;visibility:hidden;opacity:0;width:0;height:0;display:inline-block;}
.king-fl{float:left;}
.king-fr{float:right;}
.king-w960{width:960px;}
.k-tl{text-align:left;}
.k-tc{text-align:center;}
.k-tr{text-align:right;}
.k-pt10{padding-top:10px;}
.k-pt20{padding-top:20px;}
.k-pt30{padding-top:30px;}
.k-pt40{padding-top:40px;}
.k-pt50{padding-top:50px;}
.k-pb10{padding-bottom:10px;}
.k-pb20{padding-bottom:20px;}
.k-pb30{padding-bottom:30px;}
.k-pb40{padding-bottom:40px;}
.k-pb50{padding-bottom:50px;}
.k-mt10{margin-top:10px;}
.k-mt20{margin-top:20px;}
.k-mt30{margin-top:30px;}
.k-mt40{margin-top:40px;}
.k-mt50{margin-top:50px;}
.k-mb10{margin-bottom:10px;}
.k-mb20{margin-bottom:20px;}
.k-mb30{margin-bottom:30px;}
.k-mb40{margin-bottom:40px;}
.k-mb50{margin-bottom:50px;}
.k-fb{font-weight:bold;}
.k-fn{font-weight:normal;}*/
